<!DOCTYPE html>
<html lang="en">

<head>
   <% include ./block/head %>
</head>

<body class="nav-md footer_fixed">
        <form action="/test" method="POST" enctype="multipart/form-data">
        <div class="container body">
            <div class="main_container">
                <% include ./block/leftpanelV2 %>
                <% include ./block/toppanelV2 %>
                <!-- page content -->
                <div class="right_col " role="main" style="min-height: 100vh">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>Import data to excel <small><strong></strong></small></h3>
                                
                            </div>
                        </div>

                        <input type="file" name="filename">
                        <button type="submit"> import excel </button>
                <%    if (message) { %>
                        <h2> <%=message%></h2>
                <%    }  %>
                
                
                
                    
                </div>
                <!-- /page content -->

                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Wacoal - Bootstrap Admin Template by <a href="/home">Thai Hoa</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

    <% include ./block/script %>
    </form>
</body>

</html>